    .button {
    background-color: #092167 !important;
    font-size: 10px !important;
    margin-right: 10px !important;
    width: 7vw !important;
    height: 6vh !important;
  }
  
  .app-bar {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }
  
  .text {
    display: flex;
    justify-content: center;
    width: 7vw !important;
    height: 7vh !important;
  }
  
  .text input {
    border: none;
  }
  
  .btn-validacion {
    background-color: #960D0D !important;
    color: white !important;
    width: 7vw !important;
    height: 6vh !important;
    font-size: 10px !important;
    margin-left: 1vw !important;
  }
  
  .card-turno{
    border: 1px solid #092167 !important;
    width: 6.5vw;
    cursor: pointer;
    height: 13vh;
  }

  .card-turno-boton{
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: transparent;
    border: none;
  }
  .card-turno-boton svg {
    /* Estilos para el ícono */
    font-size: 34px;
    color: #707070;
  }

  .card-turno.hovered {
    background-color: lightgray;
  }
  
  .card-estudiante-turno{
    grid: flex;
    width: 7vw;
    height: 18vh;
    border-bottom: 1px solid #000;
  }
 .foto-perfil-estudiante{
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    border: 1px solid #707070;
    margin-top: 1vh;
 }

 .nombre-estudiante-turno p{
    font-size: 10px;
    margin-top: 0vh;
 }

 .btn-pagina-turno {
  color: #092167 !important;
  font-size: 20px;
  margin-right: 1vw;
  background-color: transparent !important;
  border: none !important;
}

.btn-pagina-turno.disabled {
  opacity: 0.5;
}
