.contacto  {
  margin-top: 8vh;
  text-align: left;
  border-top: 0.2vw solid #DFE0E2; 
}

.icono-contacto {
  margin-top: 5%;
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
  margin-left: 1.2vw;
}

.texto {
  margin-top: 1vh;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.texto .titulo {
  color: red;
  font-weight: normal;
  font-size: 0.9vw;
  line-height: 1.4vw;
  
}

.texto .numero {
  font-size: 0.9vw;
  line-height: 1.4;
  color: black;
}

.breadcrumbs-container {
  height: 80%;
  max-width: 80%;
  margin: 2.5vw
}

.gestion {
  margin-top: 30%;
  margin-bottom: 30%;
  text-align: left;
  color: black;
  font-family: "Poppins", sans-serif;
}

.perfil{
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.gestion p {
  margin-bottom: 10%;
  font-family: "Poppins", sans-serif;
  color: black;
}

.perfil p {
  margin-bottom: 10%;
  font-family: "Poppins", sans-serif;
  color: black;
}

.menu-divider {
  margin-top: 11vh;
  background-color: transparent !important;
  border-right: none !important;
  text-align: left; 
}
.menu-divider p{
  margin-bottom: 3vh;
  margin-left: 1.5vw;
}

.selected-menu-item {
  background-color: #DFE0E2 !important;
  color: #960D0D !important;
}

.collapse-button-container {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  justify-content: space-between;
  border-bottom: 0.2vw solid #DFE0E2;
  margin-left: 1.2vw;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.icon-text-container > * {
  margin-right: 1vw; 
}

